{% extends 'chatBase.html' %}

{% block meta %}
{% endblock meta %}

{% block title %}NoiceFluid{% endblock %}

{% block body %}
    <div class="container">
        <iframe id="player" class="responsive-iframe" type="text/html"
        src="http://www.youtube.com/embed/M7lc1UVf-VE?enablejsapi=1&origin=http://example.com"
        frameborder="0"></iframe>
    </div>

    <form id="form">
        <div class="form-group">
            <textarea id="chat-log" cols="50" rows="20"></textarea>
            <br>
            <input id="chat-message-input" type="text" size="50">
        </div>
        <div class="form-group">
            <input id="chat-message-submit" type="button" value="Send">
            <input id="chat-message-search" type="button" value="Search">     
        </div>
    </form>
{% endblock body %}