.thumbnails{
    border: none;
    color:transparent;
    padding: 16px 32px;
    display: inline-block;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  .video1 {
      background-color: white; 
      color: black; 
      border: 2px solid #4CAF50;
    }
    
    .video1:hover {
      background-color: #4CAF50;
      color: white;
    }
  
  .video2 {
  background-color: white; 
  color: black; 
  border: 2px solid #008CBA;
  }
  
    .video2:hover {
      background-color: #008CBA;
      color: white;
    }